# VISUAL STUDIO

Server/[Bb]in/
Server/[Oo]bj/
Server/.vs/
Server/*.user
Server/*.suo

*.log
*.tmp
*.bak

# GODOT

Client/.import/
Client/.godot/
Client/export.cfg
Client/export_presets.cfg
Client/.mono/
Client/.editor/

Client/bin/
Client/*.exe
Client/*.pck
Client/*.apk

.DS_Store
Thumbs.db
*.sln.docstates
