# Godot
Client/.import/
Client/.godot/
Client/.mono/
Client/.editor/
Client/export.cfg
Client/export_presets.cfg
Client/bin/
Client/*.pck
Client/*.exe
Client/*.apk

# Visual Studio
Server/bin/
Server/obj/
Server/.vs/
Server/*.user
Server/*.suo
Server/*.csproj.user
Server/*.sln.docstates

# Protobuf
Proto/*.cs
Proto/__pycache__/

# OS / Genel
*.log
*.tmp
*.DS_Store
Thumbs.db
.vscode/
.idea/
